body{
    margin: 0;
    text-align: center;
    font-family:Merriweather, serif;
    color: #40514E;
    line-height: 2;
    }

h1{
    margin: 50 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625 rem;
    color: #668f8f;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5 rem;
    color: #668f8f;
    padding-bottom: 10px;
       
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #668f8f;
    padding: 50px 0 20px 0;    

}


.developer{
    width: 30%;
    margin: auto;
    
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.me{
    width: 200px;
    
    border-radius: 50%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}


.computer{
    width: 25%;
    float: left;
    margin: 30px;

   
}

.designing{
    width: 25%;
    float: right;
    margin: 30px;
  
}

hr{
    border: #668f8f dotted 6px;
    border-bottom: none;
    width: 30%;
    margin: 100px auto;
}

.contact-message{
    width: 30%;
    margin: auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2bc4ad;
    background-image: -webkit-linear-gradient(top, #2bc4ad, #30e3b);
    background-image: -moz-linear-gradient(top, #2bc4ad, #30e3b);
    background-image: -ms-linear-gradient(top, #2bc4ad, #30e3b);
    background-image: -o-linear-gradient(top, #2bc4ad, #30e3b);
    background-image: linear-gradient(to bottom, #2bc4ad, #30e3b);
    text-decoration: none;
  }

  a{
      color: #11cdd4;
      margin: 10px 20px;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
  }

  a:hover{
      color: #000000;
  }
 
  .copyright{
      color: #ffff;
      font-size: 0.75rem;
      padding: 20px 0;
  }








